name: exu2-jgml

services:
  operations:
    container_name: exu2-operaciones
    build:
      context: ./server
      dockerfile: Dockerfile
    image: operations:v1.0.2
    ports:
      - "8086:8080"
    networks:
      - exu2-jgml-net

  client:
    container_name: exu2-cliente
    build:
      context: ./client
      dockerfile: Dockerfile
    image: client:v1.0.2
    ports:
      - "5173:80"
    networks:
      - exu2-jgml-net
    restart: always

networks:
  exu2-jgml-net:
    driver: bridge