name: i2ex-jgml

services:
  operations:
    container_name: servicio_descuentos
    build:
      context: ./server
      dockerfile: Dockerfile
    image: calculator:latest-v4
    ports:
      - "8081:8080"
    networks:
      - i2ex-jgml-net

  client:
    container_name: cliente_descuentos
    build:
      context: ./client
      dockerfile: Dockerfile
    image: client:latest-v4
    ports:
      - "3000:80"
    networks:
      - i2ex-jgml-net
    restart: always

networks:
  i2ex-jgml-net:
    driver: bridge